version: "3.8"

services:
  postgres:
    image: postgres:15-alpine
    container_name: deployflow_db
    ports:
      - "5435:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=deployflow
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
